<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom m-3">
    <a href="/home" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="produtos">Produtos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="administrador">Adminstrador</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="usuario">Usuário</a>
    </nav>
    <a routerLink="/login" class="btn btn-primary m-2">Login</a>
</div>